<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_user.nil? %>
    <h2><%= current_user.username %></h2>
    <%= render "shared/log_out_button" %>
  <% else %>
    <%= render "shared/log_in_button" %>
    <%= render "shared/sign_up_button" %>
  <% end %>

<%= yield %>

</body>
</html>
